<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<meta charset="utf-8">
		<title> Evento App </title>
	</head>

	<body class="container">
	
		<h1>Evento - <span th:text="${evento.nome}"></span> </h1>
	
		<h3><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Lista de Eventos</a></h3>
		<div th:each="evento : ${evento}" class="container">
			<div class="row">
			 	<p> <span th:text="${evento.nome}" ></span> </p>
			 	<p> <span th:text="${evento.local}" ></span> </p>
			 	<p> <span th:text="${evento.data}" ></span> </p>
			 	<p> <span th:text="${evento.horario}" ></span> </p>
			</div>
	
			<h3>Convidados</h3>
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="convidado : ${convidados}">
					 	<td th:text="${convidado.nome}" ></td>
					 	<td th:text="${convidado.cpf}" ></td>
					</tr>
				</tbody>
			</table>
	
			<form method="POST" action="">
				<div class="row">
					<div class="input field col s6">
						<input type="text" maxlength="50" value="" name="nome" placeholder="Nome" required>				
					</div>
					<div class="input field col s6">
						<input type="text" value="" name="cpf" placeholder="CPF" data-mask="000.000.000-00" data-mask-selectonfocus="true" required>
					</div>
				</div>
				<button class="waves-effect waves-light btn red" type="submit"><i class="material-icons left">add</i>  Adicionar </button>	
			</form>
		</div>
	
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>

</html>